/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE GENERALI */
.container-big{
    max-width: 1000px;
    margin: 0 auto;
}
.container-small{
    max-width: 800px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
:root{
    --main-blue: #0084FD;
    --main-purple: #9792e4;
}



/* HEADER */
header{
    background-color: var(--main-blue);
}
.menu{
    justify-content: space-between;
}



/* MAIN */
/* Sezione Card */
#card-container{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0.5rem;

    background-color: orange;
}
.card{
    width: calc(100% / 3 - 1rem);
    padding: 0.5rem;
    margin-bottom: 1rem;

    background-color: red;
}
.card:first-child{
    width: calc((100% / 3 - 0.3rem) * 2);
}

/* Sezione Planning */
#planning{
    background-color: var(--main-purple);
}
#planning-container{
    justify-content: space-between;
    align-content: flex-end;
    padding: 2rem 0;
}
#planning-container .card:first-child{
    width: calc(60% - 1rem);
}
#planning-container .card:nth-child(2){
    width: 40%;
}

/* Sezione Testimonial */
#testimonial-container{
    padding: 2rem 0.5rem;
    flex-wrap: wrap;
}
#testimonial-container .card{
    width:100%;
}
#testimonial-container .card img{
    width: 20%;
}

/* Sezione Benefits */
#benefits{
    background-color: var(--main-purple);
}
#benefits-container{
    justify-content: space-between;
    padding: 2rem 0.5rem;
    flex-wrap: wrap;
}
#benefits-container .card{
    width:calc(100% / 3 - 1rem);
}

/* Sezione About Us */
#aboutus-container{
    justify-content: space-between;
    padding: 2rem 0.5rem;
}
#aboutus-container .card:first-child{
    width:75%;
}
#aboutus-container .card:nth-child(2){
    width:20%;
}
#aboutus-container .card > img{
    width:100%;
}

/* Sezione Started */
#started{
    background-color: var(--main-purple);
}
#started-container{
    padding: 2rem;
}
#started-container .card{
    width: 100%;
    text-align: center;
}



/* FOOTER */
footer{
    background-color: #333333;
}
#footer-container{
    padding: 2rem;
}
#footer-container .card{
    width: 100%;
    text-align: center;
}
